.features{
    // background-color: $color-secondary;
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:6rem;
    margin: 15rem 0;
    align-items: start;

    @media only screen and(max-width:$bp-small){
        margin :10rem 0;
        grid-row-gap: 4rem;
    }
}
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap:1.5rem;
    grid-column-gap:2.5rem;
    align-items: center;
    &__icon{
        height: 4.5rem;
        width: 4.5rem;
        fill: $color-primary;
    }
    &__text{
        grid-column: 2/-1;
        font-size: 1.7rem ;
        color: $color-grey-dark-1;
    }
    


}